body{
  background-color: rgba(134, 135, 184, 0.64);
}
#camera, #photo{
  height: 250px;
  width: 100%;
  border: 3px double gray;
}
.rowdivs{
  margin: 2px 7px;
  vertical-align: middle;
  position: relative;
  top: 50%;
  height: auto;
  display: inline-block;
}
.listrows{
  position: relative;
  display: block;
  background-color: rgba(1, 4, 62, 0.83);
  margin: 3px 0;
  color: white;
}
.votebutton, .listtitle{
  color: white;
}
.votebutton{
  background-color: none;
}
.rowimg{
  height: 70px;
  width: auto;
}
.comments{
  color: gray;
  font-size: 0.8em;
}
.showimage{
  max-height: 300px;
  max-width: 400px;
  width: 100%;
}
.textbody{
  width: 100%;
  height: 200px;
}
.link{
  color: orange;
  font-style: oblique;
}
