#camera, #photo{
  height: 250px;
  width: 100%;
  border: 3px double gray;
}
.rowdivs{
  margin: 2px 7px;
  vertical-align: middle;
  position: relative;
  top: 50%;
  height: auto;
  display: inline-block;
}
.listrows{
  position: relative;
  display: block;
  background-color: rgba(37, 204, 255, 0.4);
  margin: 3px 0;
}
.votebutton, .listtitle{
  color: white;
}
.votebutton{
  background-color: none;
}
.rowimg{
  height: 70px;
  width: auto;
}
.comments{
  color: gray;
  font-size: 0.8em;
}
