h3: a(href='{{post.url}}') {{post.title}}
  span.link(ng-hide='post.isImage') &nbsp;&nbsp;*link*
.row
  .col-xs-6
    p Submitted by {{post.handle}}&nbsp;
      span(am-time-ago='post.createdAt')
    img.showimage.img-responsive(ng-src='{{post.url}}' ng-show='post.isImage')
    p(ng-hide='activeUser') Log in to add a comment.
  .col-xs-6
    div.textbody: p {{post.body}}
.row
  hr
  h4 Comments
.row
  .col-xs-6
    .row(ng-repeat='comment in post.comments | orderBy: "-votes"')
      .col-xs-12
        .row.rowdivs(ng-show='activeUser')
          a(ng-click='vote(post._id, comment._id, "up")'): i.fa.fa-arrow-up
          br
          span {{comment.votes}}
          br
          a(ng-click='vote(post._id, comment._id, "down")'): i.fa.fa-arrow-down
        .rowdivs
          p {{comment.body}}
          span by {{comment.handle}}
        hr
  .col-xs-6
    form(name='commentForm' ng-show='activeUser')
      .form-group
        label(for='body') Comment
        input.form-control(type='text' name='body' ng-model='comment.body')
      .form-group
        button.form-control(ng-click='addComment(post._id, comment)') Add Comment
